'use strict';

import dispatcher from '../dispatcher'

<app>
  <navbar
    username="{ user.username }"
    authorized="{ user.authorized }">
  </navbar>
  <dlg-login></dlg-login>

  <pages id="pages" default="patients">
    <page name="patients" caption="Пациенты">
      <patients authorized="{ parent.parent.user.authorized }"></patients>
    </page>
    <page name="appointment" caption="Осмотры">
      <appointment authorized="{ parent.parent.user.authorized }"></appointment>
    </page>
  </pages>

  <script>
    let self = this;
    self.user = {authorized: false};
    dispatcher.on(dispatcher.PROFILE_CHANGED, (user) => {
        self.user = user;
        self.update();
    });
  </script>
</app>
