'use strict';

import dispatcher from '../dispatcher';
import date from '../utils/date';

<patients>
  <div class="page-header container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <error-msg error="{ error }"/>
      </div>
    </div>
    <div class="row">
      <div if="{ !opts.authorized }" class="col-lg-12">
        <h4>Для того, чтобы работать со списком пациентов, пожалуйста, войдите в приложение.</h4>
      </div>
    </div>
    <div class="row">
      <div if="{ opts.authorized }">
        <h4>Поиск осмотров пациентов</h4>

        <div class="input-group col-lg-8">
           <input type="text"
                 name="patientName"
                 class="form-control"
                 onkeyup="{ searchInputKeyUp }"
                 placeholder="ФИО пациентки">
          <span class="input-group-btn">
            <button class="btn btn-default"
                    type="button"
                    onclick="{ clear }">&times;</button>
          </span>
          <span class="input-group-btn">
            <a href="javascript:void(0)"
               class="btn btn-default btn-block"
               onclick="{ search }">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <span class="input-group-btn">
            <a href="#appointment"
               class="btn btn-default btn-block btn-receipt">Новый осмотр</a>
          </span>
        </div>
        <br/>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-condensed">
            <tr>
              <th>Дата</th>
              <th>Пациент</th>
              <th>Доктор</th>
              <th colspan="2">Действия</th>
            </tr>
            <tr each="{ appointments }">
              <td>{ formatDateReceipt(dateReceipt) }</td>
              <td>{ patientName }</td>
              <td>{ doctorName }</td>
              <td>
                  <a href="#appointment/{ id }/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Редактировать</a>
              </td>
              <td>
                  <a href="javascript:void(0)" onclick="{ docx }"><span id="{ id }" class="glyphicon glyphicon-save-file" aria-hidden="true">&nbsp;Экспортировать осмотр</a>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
  <script>
      let self = this;
      self.appointments = [];
      self.error = null;
      self.activate = () => {
          self.search();
      }
      self.passivate = () => {
      }
      self.searchInputKeyUp = (e) => {
          switch (e.which) {
          case 27:
              self.clear();
              return;
          case 13:
              self.search();
              return;
          }
      }
      self.search = () => {
          self.error = null;
          dispatcher.trigger(dispatcher.SEARCH_APPOINTMENTS, {
              patientName: self.patientName.value
          }, (appointments, e) => {
            self.appointments = appointments;
            if (e != undefined) {
                self.error = 'Ошибка при поиске пациентов: ';
                if (e.msg) {
                    self.error += e.msg;
                }
                alert(self.error);
            }
            self.update();
          });
      }
      self.clear = () => {
          self.patientName.value = '';
          self.search();
      }
      self.formatDateReceipt = (ts) => {
          return date.format(ts);
      }
      self.docx = (e) => {
          dispatcher.trigger(dispatcher.GET_APPOINTMENT_DOCX, e.target.id);
      }
  </script>
</patients>
