'use strict';

import dispatcher from '../dispatcher';
import deepExtend from 'deep-extend';

<reception>
  <div class="page-header container-fluid">
    <div class="row">
      <div if="{ !opts.authorized }" class="col-lg-6">
        <h3>Please login to view reception of patient</h3>
      </div>
    </div>

    <div if="{ opts.authorized }">
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Дата приёма</label>
          <input type="date" class="form-control" placeholder="mm/dd/yyyy">
        </div>
        <div class="col-md-5">
          <label class="control-label">ФИО</label>
          <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" value="{ patient.name }">
        </div>
        <div class="col-md-5">
          <label class="control-label">Дежурный врач акушер-гинеколог</label>
          <input type="text" class="form-control" placeholder="Фамилия Имя Отчество" value="{ patient.doctor }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Поступила</label>
          <input type="text" class="form-control" placeholder="самотеком (по-умолчанию)" value="{ patient.howReceipt }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Аллергоанамнез</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)" value="{ patient.alergo }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Контакт с инфекционными больными</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)" value="{ patient.infectied }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Малярия, туберкулез, гепатиты, ВИЧ</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)" value="{ patient.hiv }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Гематрансфузия</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)" value="{ patient.transfusion }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Пребывание в неблагополучных странах в течении 3-х лет</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)" value="{ patient.dyscountry }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Табакокурение</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)..." value="{ patient.smoking }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Прием наркотических, психотропных препаратов</label>
          <input type="text" class="form-control" placeholder="отр (по-умолчанию)..." value="{ patient.drugs }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Наследственность</label>
          <input type="text" class="form-control" placeholder="не отягощена" value="{ patient.inheritance }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Перенесенные заболевания</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.diseases }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Гинекологические заболевания</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.gyndiseases }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Из анамнеза</label>
          <textarea class="form-control" rows="2" placeholder="произвольный текст" value="{ patient.history }"></textarea>
        </div>
      </div>
      <div class="row">
        <p class="text-center"><strong>Сроки беременности</strong></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">по менструации</label>
          <input type="date" class="form-control" placeholder="mm/dd/yyyy">
          <input type="text" class="form-control" placeholder="число">недель</input>
        </div>
        <div class="col-md-4">
          <label class="control-label">по 1 явке</label>
          <input type="date" class="form-control" placeholder="mm/dd/yyyy">
          <input type="text" class="form-control" placeholder="число">недель</input>
        </div>
        <div class="col-md-4">
          <label class="control-label">по УЗИ</label>
          <input type="date" class="form-control" placeholder="mm/dd/yyyy">
          <input type="text" class="form-control" placeholder="число">недель</input>
        </div>
      </div>
      <div class="row">
        <p class="text-center"><strong>Status praesens</strong></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Состояние</label>
          <select name="health" class="form-control">
            <option value="relatively">относительно удовлетворительное</option>
            <option value="acceptable">удовлетворительное</option>
            <option value="middle">средней тяжести</option>
            <option value="heavy">тяжелое</option>
          </select>
        </div>
        <div class="col-md-8">
          <label class="control-label">Жалобы на</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.claims }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Голова</label>
          <input type="text" class="form-control" placeholder="не болит (по-умолчанию)" value="{ patient.head }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Зрение</label>
          <input type="text" class="form-control" placeholder="ясное (по-умолчанию)" value="{ patient.vision }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Кожные покровы</label>
          <select name="health" class="form-control">
            <option value="pink">бледно-розовой окраски</option>
            <option value="pale">бледные</option>
          </select>
        </div>
        <div class="col-md-8">
          <label class="control-label">Лимфоузлы</label>
          <input type="text" class="form-control" placeholder="не пальпируются (по-умолчанию)" value="{ patient.lymph }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Дыхание</label>
          <input type="text" class="form-control" placeholder="везикулярное (по-умолчанию)" value="{ patient.breath }">
        </div>
        <div class="col-md-4">
          <label class="control-label">Хрипы</label>
          <input type="text" class="form-control" placeholder="нет (по-умолчанию)" value="{ patient.rale }">
        </div>
        <div class="col-md-4">
          <label class="control-label">Тоны cor</label>
          <input type="text" class="form-control" placeholder="ясные ритмичные (по-умолчанию)" value="{ patient.tones }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Ps, уд. в мин.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.pulse }">
        </div>
        <div class="col-md-2">
          <!-- TODO margin-top: 24px -->
          <label class="control-label">Ритмичность</label>
          <input type="text" class="form-control" placeholder="ритмичный" value="{ patient.typePulse }">
        </div>
        <div class="col-md-8">
          <label class="control-label">АД, мм. рт. ст.</label>
          <input type="text" class="form-control" placeholder="диапазон чисел" value="{ patient.pressure }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="control-label">Язык</label>
          <div>
            <label class="checkbox-inline"><input type="checkbox" value="1">чистый</label>
            <label class="checkbox-inline"><input type="checkbox" value="2">влажный</label>
            <label class="checkbox-inline"><input type="checkbox" value="3">сухой</label>
            <label class="checkbox-inline"><input type="checkbox" value="4">обложен</label>
            <label class="checkbox-inline"><input type="checkbox" value="5">не обложен</label>
          </div>
        </div>
        <div class="col-md-7">
          <label class="control-label">Осмотр зева</label>
          <input type="text" class="form-control" placeholder="чистый (по-умолчанию)" value="{ patient.throat }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Живот</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.belly }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Перитонеальные симптомы</label>
          <input type="text" class="form-control" placeholder="отсутствуют" value="{ patient.peritoneal }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Родовая деятельность</label>
          <input type="text" class="form-control" placeholder="abs" value="{ patient.labors }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Дизурические явления</label>
          <div>
            <label class="radio-inline"><input type="radio" name="dysuric" value="1" checked>нет</label>
            <label class="radio-inline"><input type="radio" name="dysuric" value="2">есть</label>
          </div>
        </div>
        <div class="col-md-4">
          <label class="control-label">Стул</label>
          <div>
            <label class="radio-inline"><input type="radio" name="bowel" value="1" checked>регулярный</label>
            <label class="radio-inline"><input type="radio" name="bowel" value="2">не регулярный</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Отеки</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.limbSwelling }">
        </div>
        <div class="col-md-6">
          <label class="control-label">Лица</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.faceSwelling }">
        </div>
      </div>
      <div class="row">
        <p class="text-center"><strong>Наружное акушерское исследование</strong></p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Матка</label>
          <select name="uterus" class="form-control">
            <option value="normo">в нормотонусе</option>
            <option value="slightly">слегка возбудима при пальпации</option>
            <option value="excitable">возбудима при пальпации</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label">Положение плода</label>
          <select name="fetal-position" class="form-control">
            <option value="long">продольное</option>
            <option value="diagonal">косое</option>
            <option value="cross">поперечное</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label">Предлежит</label>
          <select name="fetal-previa" class="form-control">
            <option value="head">головка</option>
            <option value="hip">тазовый конец</option>
            <option value="mix">смешанное</option>
            <option value="legs">ножки плода</option>
          </select>
        </div>
        <div class="col-md-3">
          <!-- TODO margin-top: 24px -->
          <select name="fetal-align" class="form-control">
            <option value="over">над входом в малый таз</option>
            <option value="pinned">прижата ко входу в малый таз</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Сердцебиение плода</label>
          <select name="fetal-heartbeat" class="form-control">
            <option value="clear">ясное</option>
            <option value="rhythmic">ритмичное</option>
            <option value="mute">приглушенное</option>
            <option value="barely">глухое</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label">Ударов в мин.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.fetalPulse }">
        </div>
        <div class="col-md-3">
          <label class="control-label">Выделения из половых путей</label>
          <select name="discharge" class="form-control">
            <option value="light">светлые</option>
            <option value="slimly">слизистые</option>
            <option value="bloody">кровянистые</option>
            <option value="medium">умеренные</option>
            <option value="abundant">обильные</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">ВДМ, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.vdm }">
        </div>
        <div class="col-md-2">
          <label class="control-label">ОЖ, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.oj }">
        </div>
        <div class="col-md-2">
          <label class="control-label">D.spin, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.dspin }">
        </div>
        <div class="col-md-2">
          <label class="control-label">D.crist, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.dcrist }">
        </div>
        <div class="col-md-2">
          <label class="control-label">D.troch, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.dtroch }">
        </div>
        <div class="col-md-2">
          <label class="control-label">C.ext, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.cext }">
        </div>
      </div>
      <div class="row">
        <p class="text-center"><strong>Влагалищное исследование</strong></p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Наружние половые органы развиты</label>
          <select name="devel-organs" class="form-control">
            <option value="right">правильно, аномалий нет</option>
            <option value="anomaly">аномалии</option>
          </select>
        </div>
        <div class="col-md-3" if="{ true }">
          <label class="control-label">Аномалии</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.genitalAnomalies }">
        </div>
        <div class="col-md-3">
          <label class="control-label">Влагалище</label>
          <select name="vagina" class="form-control">
            <option value="beared">рожавшей</option>
            <option value="notbeared">не рожавшей</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- TODO margin: 0 0 0 0; -->
          <p><small>
              Шейка матки (оценка по Бишопу, сумма баллов):
          </small></p>
          <p><small>
              отклонена кзади (0 баллов),
              кпереди (1 балл), центрирована (2 балла), плотная (0 баллов),
              умеренно размягчена (1 балл), мягкая (2 балла) (&gt;2 см - 0 баллов, 1-2см - 1 балл, &lt;1 см - 2 балла)
          </small></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Длиной, см.</label>
          <input type="text" class="form-control" placeholder="диапазон чисел" value="{ patient.lenghtCervix }">
        </div>
        <div class="col-md-2">
          <label class="control-label">Укорочена до, см.</label>
          <input type="text" class="form-control" placeholder="диапазон чисел" value="{ patient.truncateCervix }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Наружний зев</label>
          <select name="outer-throat" class="form-control">
            <option value="opened">пропускает кончик пальца</option>
            <option value="closed">закрыт (0 баллов)</option>
          </select>
        </div>
        <div class="col-md-8">
          <label class="control-label">Цервикальный канал проходим для пальца (1п.п до внутреннего зева 1 балл, 1п.п. свободно и &gt; 2 балла)</label>
          <input type="text" class="form-control" placeholder="название пальца" value="{ patient.channelCtrvix }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Плодный пузырь</label>
          <input type="text" class="form-control" placeholder="текст" value="{ patient.fetalBladder }">
        </div>
        <div class="col-md-2">
          <label class="control-label">Предлежит</label>
          <select name="fetal-bladder-previa" class="form-control">
            <option value="head">головка</option>
            <option value="buttocks">ягодицы</option>
            <option value="legs">ножки</option>
          </select>
        </div>
        <div class="col-md-3">
          <!-- TODO margin-top: 24px -->
          <select name="fetal-bladder-align" class="form-control">
            <option value="pinned">прижата</option>
            <option value="mobile">подвижна</option>
            <option value="over">над входом в малый таз</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">Своды</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.arches }">
        </div>
        <div class="col-md-3">
          <label class="control-label">Диагональная коньюгата более, см.</label>
          <input type="text" class="form-control" placeholder="число" value="{ patient.conjugate }">
        </div>
        <div class="col-md-3">
          <label class="control-label">Костный таз</label>
          <select name="fetal-bladder-align" class="form-control">
            <option value="unexostosis">без экзостозов</option>
            <option value="exostosis">экзостозы</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label">Выделения</label>
          <input type="text" class="form-control" placeholder="произвольный текст" value="{ patient.discharge }">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><strong>Диагноз</strong></p>
          <textarea class="form-control" rows="2" placeholder="произвольный текст" value="{ patient.diagnosis }"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><strong>Заключение</strong></p>
          <textarea class="form-control" rows="3" placeholder="произвольный текст" value="{ patient.conclusion }"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">План родов</label>
          <textarea class="form-control" rows="3" placeholder="произвольный текст" value="{ patient.birthPlan }"></textarea>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <p class="text-right">
            <button type="button" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-default">Отмена</button>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <error-msg error="{ error }"/>
      </div>
    </div>
  </div>
  <script>
      let self = this;
      self.patient = {};
      self.activate = () => {
          if (self.opts.itemid !== undefined) {
              dispatcher.trigger(dispatcher.GET_PATIENT_DETAILS,
                  self.opts.itemid, (details) => {
                      console.log('patient details', details);
                      self.patient = deepExtend({}, details);
                      self.update();
                  }
              );
          }
          self.update();
      }
      self.passivate = () => {
          self.patient = {};
          self.update();
      }
  </script>
</reception>
